@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-onSurface antialiased;
    font-family: 'Inter', ui-sans-serif, system-ui, sans-serif;
  }
}

@layer utilities {
  .scrollbar-thin::-webkit-scrollbar { width: 6px; height: 6px; }
  .scrollbar-thin::-webkit-scrollbar-thumb { background: #2A2A2A; border-radius: 999px; }
}
